.athlete-content {
	padding-top: 50px;
	padding-bottom: 50px;
}

.athlete-content .content-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.athlete-content .content-wrapper .subtitle {
	font-size: 30px;
	color: #4a4a4a;
	text-align: center;
	margin-bottom: 30px;
	flex: 1 0 100%;
}

.athlete-content .content-wrapper .subtitle strong {
	display: block;
}

.athlete-content .content-wrapper .content {
	width: 100%;
	margin-bottom: 20px;
	font-size: 15px;
	line-height: 1.3;
	font-weight: 300;
}

.athlete-content .content-wrapper .content p {
	margin-bottom: 10px;
}

.athlete-content .content-wrapper .content ul {
	padding: 0;
	list-style: none;
}

.athlete-content .content-wrapper .content ul li {
	margin: 0 0 10px 20px;
	position: relative;
}

.athlete-content .content-wrapper .content ul li::before {
	content: "";
	position: absolute;
	left: -10px;
	top: 0.5em;
	height: 5px;
	width: 5px;
	border-radius: 50%;
	background-color: #1d4f91;
	transform: translate(-50%, -50%);
}

.athlete-content .content-wrapper .img-wrapper {
	position: relative;
	width: 100%;
	height: 300px;
	margin-bottom: 30px;
}

@media (min-width: 768px) {
	.athlete-content .content-wrapper .subtitle {
		font-size: 35px;
	}

	.athlete-content .content-wrapper .content {
		font-size: 16px;
	}
}

@media (min-width: 1366px) {
	.athlete-content .content-wrapper .subtitle {
		font-size: 40px;
	}

	.athlete-content .content-wrapper {
		justify-content: space-between;
	}

	.athlete-content .content-wrapper .content {
		font-size: 16px;
		width: calc(50% - 15px);
		flex: 1 1;
	}

	.athlete-content .content-wrapper:nth-child(even) .content {
		order: 2;
	}

	.athlete-content .content-wrapper .img-wrapper {
		width: calc(50% - 15px);
		height: 375px;
		margin-right: 20px;
	}

	.athlete-content .content-wrapper:nth-child(even) .img-wrapper {
		order: 1;
		margin-left: 0;
		margin-right: 20px;
	}
}
