.athlete-hero {
    position: relative;
}

.athlete-hero .athlete-hero-wrapper {
	position: relative;
	height: 400px;
}

.athlete-hero .content-wrapper {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}

.athlete-hero .content-wrapper p {
    font-size: 30px;
    text-align: center;
    color: #224d93;
    font-weight: 300;
    letter-spacing: 2px;
}

.athlete-hero .content-wrapper p strong {
    display: block;
    font-weight: 700;
}

@media (min-width: 768px) {
	.athlete-hero .athlete-hero-wrapper {
		height: 700px;
    }

    .athlete-hero .content-wrapper {
        top: 20%;
    }

    .athlete-hero .content-wrapper p {
        font-size: 40px;
    }
}

@media (min-width: 1366px) {
    .athlete-hero .content-wrapper p {
        font-size: 45px;
    }
}
