.home-hero .home-hero-item .hero-img {
    position: relative;
    width: 100%;
    height: 100%;
}

.home-hero .home-hero-item amp-img img {
    object-position: top;
}

.home-hero .home-hero-item .hero-content {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to right,#e4e838,#fbfe71);
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 50px;
    box-sizing: border-box;
    max-width: 80%;
    border-radius: 20px;
    background-clip: padding-box;
}

.home-hero .home-hero-item .hero-content h2 {
    color: #224f81;
    font-size: 3rem;
    text-transform: uppercase;
    user-select: none;
    word-wrap: break-word;
}

@media(min-width: 768px) {
    .home-hero .hero-carousel {
        min-height: 500px;
    }

    .home-hero .home-hero-item .hero-content {
        bottom: 40px;
        padding: 50px;
    }
}

@media(min-width: 1366px) {
    .home-hero .hero-carousel {
        min-height: 700px;
    }
}