.home-meet {
	padding: 50px 0;
	text-align: center;
}

.home-meet .img-wrapper {
	position: relative;
	width: 100%;
	max-width: 300px;
	height: 300px;
	margin: 0 auto;
}

.home-meet .section-title {
	padding: 30px 40px;
	background: linear-gradient(90deg, #e5e939, #fcfe74);
	text-align: center;
	max-width: 600px;
	box-sizing: border-box;
	margin: 0 auto 30px;
}

.home-meet .section-title p {
	font-size: 30px;
	text-transform: uppercase;
	color: #224d93;
	font-weight: 300;
}

.home-meet .section-title strong {
	font-weight: 700;
	display: block;
}

.home-meet .content-wrapper {
	max-width: 550px;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 40px;
}

.home-meet .content-wrapper p {
	color: #3f3f3f;
	font-size: 16px;
	margin-bottom: 15px;
	line-height: 1.3;
}

.home-meet .btn {
	display: block;
	margin: 0 auto 20px;
	max-width: 190px;
	text-transform: uppercase;
	color: #fff;
	background-color: #1a3b71;
	font-size: 18px;
	padding: 7px 20px;
	border: 3px solid #1a3b71;
	transition: 150ms linear;
	cursor: pointer;
}

.home-meet .btn.video {
	background-color: #30589b;
	border-color: #30589b;
}

.home-meet .btn:hover {
	background-color: #fff;
	color: #224d93;
}

.home-meet .btn.video:hover {
	color: #30589b;
}

.home-meet .modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.68);
	z-index: 40;
	cursor: pointer;
}

.home-meet .modal.open {
	display: block;
}

.home-meet .modal amp-video {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 175px;
	width: 300px;
}

@media (min-width: 768px) {
	.home-meet .section-title p {
		font-size: 35px;
	}

	.home-meet .modal amp-video {
		height: 280px;
		width: 500px;
	}
}

@media (min-width: 1366px) {
	.home-meet .img-wrapper {
		width: 450px;
		height: 450px;
	}

	.home-meet .section-title {
		max-width: 800px;
		padding: 40px 50px;
	}

	.home-meet .section-title p {
		font-size: 40px;
	}

	.home-meet .content-wrapper {
		max-width: 750px;
	}

	.home-meet .content-wrapper p {
		font-size: 18px;
	}

	.home-meet .modal amp-video {
		height: 380px;
		width: 640px;
	}
}
