.recent-posts {
	padding-top: 50px;
	padding-bottom: 50px;
	background: linear-gradient(to bottom, #fff, #e1e6ed);
}

.recent-posts .post-card {
	margin-bottom: 20px;
}

.recent-posts .section-title {
	text-align: center;
	text-transform: uppercase;
	color: #4a4a4a;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 300;
}

.recent-posts .btn {
	display: block;
	margin: 30px auto 20px;
	max-width: 190px;
	text-transform: uppercase;
	color: #fff;
	background-color: #1a3b71;
	font-size: 18px;
	padding: 7px 20px;
	border: 3px solid #1a3b71;
	transition: 150ms linear;
	cursor: pointer;
	text-align: center;
}

.recent-posts .btn:hover {
	background-color: #fff;
	color: #224d93;
}

@media(min-width: 768px) {
	.recent-posts .section-title {
		font-size: 35px;
	}
	
	.recent-posts .posts-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.recent-posts .post-card {
		width: calc(50% - 10px);
		margin-right: 20px;
	}

	.recent-posts .post-card:nth-child(2n) {
		margin-right: 0;
	}
}

@media(min-width: 1366px) {
	.recent-posts .section-title {
		font-size: 40px;
	}

	.recent-posts .post-card {
		width: calc((100% - 60px) / 4);
	}

	.recent-posts .post-card:nth-child(2n) {
		margin-right: 20px;
	}

	.recent-posts .post-card:nth-child(4n) {
		margin-right: 0;
	}
}