.testimonials {
    padding: 50px 0;
    background-color: #eaedf2;
}

.testimonials .section-title {
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: 300;
    color: #1d4f91;
    text-transform: uppercase;
    text-align: center;
}

.testimonials amp-base-carousel {
    max-width: 640px;
    margin: 0 auto;
}

.testimonials .home-testimonials-wrapper {
    padding: 10px 24px;
}

.testimonials .home-testimonials-item {
    padding: 30px;
    height: 100%;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 3px 3px 5px #0000008a;
    background-color: #fff;
}

.testimonials .home-testimonials-item .quote svg {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}

.testimonials .home-testimonials-item .content {
    font-size: 14px;
    font-weight: 500;
    color: #444;
    line-height: 1.6;
    letter-spacing: .3px;
    max-height: 225px;
    overflow: auto;
}

.name {
    position: relative;
    font-size: 18px;
    color: #1d4f91;
    margin-bottom: 5px;
}

.testimonials .home-testimonials-item .name::before {
    content: "";
    width: calc(100% - 20px);
    height: 1px;
    background-color: #00000045;
    display: block;
    margin: 15px auto;
}

.description {
    font-size: 14px;
}

.testimonials .carousel-button.next {
    margin-right: 25px;
    transform: translateX(50%);
    border: 1px solid #00000034;
}

.testimonials .carousel-button.prev {
    margin-left: 25px;
    transform: translateX(-50%);
    border: 1px solid #00000034;
}

@media(min-width: 768px) {
    .testimonials .section-title {
        font-size: 35px;
    }
} 

@media(min-width: 1366px) {
    .testimonials .section-title {
        font-size: 40px;
    }

    .testimonials .home-testimonials-item .content {
        max-height: 235px;
        font-size: 16px;
        line-height: 1.3;
    }
} 