.athlete-profile {
    background-color: #1d5595;
	padding-top: 50px;
    padding-bottom: 50px;
}

.athlete-profile .section-title {
    font-size: 30px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 300;
}

.athlete-profile .profile-wrapper .img-wrapper {
    height: 400px;
    max-width: 300px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
}

.athlete-profile .profile-wrapper .items-wrapper .item {
    display: flex;
    font-size: 16px;
    margin-bottom: 10px;
    color: #fff;
}



@media (min-width: 768px) {
    .athlete-profile .section-title {
        font-size: 35px;
    }

    .athlete-profile .profile-wrapper {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .athlete-profile .profile-wrapper .img-wrapper {
        height: 500px;
        width: 300px;
        max-width: 300px;
        margin: 0;
        margin-right: 50px;
    }

    .athlete-profile .profile-wrapper .items-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media (min-width: 1366px) {
    .athlete-profile .section-title {
        font-size: 40px;
    }
}
