.single-header {
    margin-top: 13px;
    margin-bottom: 20px;
}

.single-header .breadcrumbs {
    margin-bottom: 30px;
}

.single-header .breadcrumbs a,
.single-header .breadcrumbs span {
    color: #1d4f91;
}

.single-header .breadcrumbs .breadcrumb_last {
    font-weight: 600;
    cursor: default;
}

.single-header .breadcrumbs a:hover {
    color: #5B5B5B;
    text-decoration: underline;
}

.single-header .category-btn {
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    line-height: 1;
    padding: calc((48px - 1rem) / 2) 10px;
    margin-left: -10px;
}

.single-header .single-title {
    font-size: 2.625rem;
    font-weight: 300;
    color: #1d4f91;
    margin-bottom: 3px;
}

.single-header .single-info {
    margin-bottom: 20px;
}

.single-header .single-info span {
    text-transform: capitalize;
}

.single-header .single-excerpt {
    font-size: 1.125rem;
    line-height: 1.926;
    font-weight: 300;
    margin-bottom: 20px;
}

.single-header .single-thumbnail {
    height: 300px;
}

.single-header amp-img img {
    object-position: top;
}

.single-header amp-soundcloud {
    margin: 30px 24px 0;
}

.single-header .audio-player {
    width: 100%;
    border-radius: 20px;
    margin-top: 30px;
}

.single-header .download-btn {
    display: block;
    padding: 15px;
    margin-top: 10px;
    font-size: 24px;
}

@media(min-width: 768px) {
    .single-header {
        margin-top: 18px;
        margin-bottom: 30px;
    }
    
    .single-header .breadcrumbs {
        margin-bottom: 50px;
    }

    .single-header .single-title {
        line-height: 1.1;
    }

    .single-header .single-info {
        margin-bottom: 12px;
    }

    .single-header .single-excerpt {
        margin-bottom: 30px;
    }

    .single-header amp-soundcloud {
        margin: 30px 0 0;
    }

    .single-header .download-btn {
        width: max-content;
        padding: 15px 54px;
        margin: 20px auto 0;
    }
}

@media(min-width: 1366px) {
    .single-header {
        margin-top: 24px;
        margin-bottom: 50px;
    }

    .single-header .breadcrumbs {
        margin-bottom: 30px;
    }

    .single-header .category-btn {
        font-size: 16px;
    }

    .single-header .single-title,
    .single-header .single-info {
        margin-bottom: 5px;
    }

    .single-header .single-excerpt {
        margin-bottom: 50px;
    }

    .single-header .single-thumbnail {
        height: 350px;
    }

    .single-header amp-soundcloud,
    .single-header .audio-player {
        margin: 30px 63px 0;
    }

    .single-header .download-btn {
        margin-top: 25px;
    }
}
