.single-author {
    margin-bottom: 30px;
}

.single-author .section-title {
    text-align: center;
}

.single-author .author-wrapper .author-img {
    min-height: 143px;
    border-radius: 6px 6px 0 0;
}

.single-author .author-wrapper .author-info {
    border: solid #70707080;
    border-width: 0 1px 1px;
    border-radius: 0 0 6px 6px;
}

.single-author .author-wrapper .author-info {
    padding: 20px 20px 30px;
}

.single-author .author-wrapper .author-info .info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;
}

.single-author .author-wrapper .author-info .info-wrapper .name {
    color: #791593;
    font-size: 1.75rem;
}

.single-author .author-wrapper .author-info .info-wrapper svg {
    height: 26px;
    width: 26px;
}

.single-author .author-wrapper .author-info .description {
    font-size: 14px;
    line-height: 1.42;
    font-weight: 300;
}

@media(min-width: 768px) {
    .single-author {
        max-width: 856px;
        margin: 0 auto 50px;
    }
    .single-author .author-wrapper {
        display: flex;
        min-height: 214px;
    }

    .single-author .author-wrapper .author-img {
        min-width: 225px;
        border-radius: 6px 0 0 6px;
    }

    .single-author .author-wrapper .author-info {
        width: 100%;
        border-width: 1px 1px 1px 0;
        border-radius: 0 6px 6px 0;
        padding: 20px 30px 40px;
    }

    .single-author .author-wrapper .author-info .info-wrapper {
        margin-bottom: 15px;
    }

    .single-author .author-wrapper .author-info .info-wrapper .name {
        font-size: 24px;
    }

    .single-author .author-wrapper .author-info .info-wrapper svg {
        height: 32px;
        width: 32px;
    }

    .single-author .author-wrapper .author-info .description {
        font-size: 18px;
    }
}
