.dynamic-search,
.dynamic-search .search {
	position: relative;
	margin-bottom: 15px;
}

.dynamic-search .search input[type="text"] {
	width: 100%;
	box-sizing: border-box;
	border: none;
	border-bottom: 1px solid #707070;
	padding: 5px 30px 5px 11px;
	font-size: 1.25rem;
	font-weight: 300;
	color: #3f3e3e;
}

.dynamic-search .search input[type="text"]:placeholder {
	color: #707070;
}

.dynamic-search .search .search-icon {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 4px;
	right: 8px;
	cursor: pointer;
}

.dynamic-search .searched-posts .post-card {
	max-width: none;
}

.dynamic-search .search .search-icon svg {
	width: 18px;
	height: 18px;
}

.dynamic-search .searched-posts .search-see-more {
	display: block;
	width: -webkit-max-content;
	width: -moz-max-content;
	width: max-content;
	margin: 20px 0 40px auto;
	text-decoration: underline;
	text-align: right;
	font-size: 20px;
	color: #000000;
	flex: 1 0 100%;
}

.dynamic-search .searched-posts .search-not-found {
	margin: 25px 0 40px;
	text-align: center;
	font-size: 20px;
	color: #E4002B;
}

.dynamic-search .searched-posts .search-not-found span {
	display: block;
	margin-top: 5px;
	font-size: 14px;
	color: #000000;
}

@media(min-width: 768px) {
	.dynamic-search .search {
		margin-bottom: 10px;
	}

	.dynamic-search .search .search-icon {
		width: 23px;
		height: 24px;
		right: 16px;
		top: -2px;
	}

	.dynamic-search .search .search-icon svg {
		width: 23px;
		height: 23px;
	}
}

@media(max-width: 1365px) {
	.dynamic-search .searched-posts {
		position: absolute;
		width: 100%;
		height: calc(100vh - 82px);
		left: -1px;
		background-color: #ffffff;
		z-index: 2;
		overflow-y: auto;
	}

	.dynamic-search .searched-posts .post-card {
		box-shadow: none;
		border-radius: 0;
		border-bottom: 1px solid rgba(228,0,43,.44);
	}

	.dynamic-search .searched-posts .post-card .card-img,
	.dynamic-search .searched-posts .post-card .card-text .category-btn,
	.dynamic-search .searched-posts .post-card .card-text .excerpt {
		display: none;
	}

	.dynamic-search .searched-posts .post-card .card-text {
		border: none;
		padding: 20px 0;
	}

	.dynamic-search .searched-posts .post-card .card-text .title {
		margin-bottom: 0;
		font-size: 16px;
		color: #3F3E3E;
	}

	.dynamic-search .searched-posts .post-card .card-text .title span {
		color: #E4002B;
	}
}

@media(min-width: 1366px) {
	.dynamic-search {
		display: none;
	}

	.dynamic-search.open {
		display: block;
		position: fixed;
		top: 70px;
		width: 100%;
		height: calc(100% - 70px);
		margin: 0;
		background-color: #ffffff;
		padding: 0 96px;
		box-sizing: border-box;
	}

	.dynamic-search .search {
		position: absolute;
	    width: 662px;
	    top: 50%;
	    left: 50%;
		transform: translate(-50%, calc(-50% - 70px));
	}

	.dynamic-search .search.top {
		position: relative;
		margin: 65px auto 77px;
		top: 0;
		left: 0;
		transform: none;
	}

	.dynamic-search .search .search-icon {
		top: 7px;
	}

	.dynamic-search .search input[type="text"] {
		padding: 13px 45px 8px 14px;
	}

	.dynamic-search .searched-posts {
		width: 100%;
		max-width: 1174px;
		margin: 0 auto;
		min-height: 500px;
		background-color: #ffffff;
	}

	.dynamic-search .searched-posts > div > div {
		display: flex;
		flex-wrap: wrap;
	}

	.dynamic-search .searched-posts .post-card {
		width: calc((100% - 38px) / 3);
	}

	.dynamic-search .searched-posts .post-card:last-of-type:nth-child(1) {
		margin-right: calc(((100% - 38px) / 3) * 2);
	}

	.dynamic-search .searched-posts .post-card:last-of-type:nth-child(2) {
		margin-right: calc((100% - 38px) / 3);
	}

	.dynamic-search .searched-posts .post-card .card-text .excerpt {
		font-size: 1rem;
		max-height: 4.8em;
		overflow: hidden;
		color: #595755;
	}

	.dynamic-search .searched-posts .post-card .card-text .title span,
	.dynamic-search .searched-posts .post-card .card-text .excerpt span {
		color: #E4002B;
	}

	.dynamic-search .searched-posts .search-not-found {
		margin: 0 auto;
	}

	.dynamic-search .loading-wrapper {
		position: absolute;
		width: 100%;
		top: 0;
	}
}