.footer {
    text-align: center;
    background-color: #1d4f91;
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer .social-networks {
    margin-bottom: 20px;
}

.footer .social-networks a {
    display: inline-block;
    padding: 20px;
    transition: 150ms linear;
    border-radius: 10px;
}

.footer .social-networks a:hover {
    background-color: #ffffff24;
}

.footer .social-networks a svg {
    width: 28px;
    height: 28px;
    fill: #fff;
}

.footer .info .copyright {
    color: #fff;
}

@media(min-width: 768px) {
    .footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}