/* Estilos Básico da Newsletter */
.newsletter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 300px;
    color: #ffffff;
    background-color: #1e1e1e; /* Cor de exemplo */
}

.newsletter .section-title strong,
.newsletter .newsletter-success .success-message strong {
    font-weight: 700;
}

.newsletter .inputs-wrapper {
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}

.newsletter .inputs-wrapper .email-input {
    width: 100%;
    height: 42px;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 0 115px 0 10px;
    border: 2px solid #fff;
}

.newsletter .inputs-wrapper .email-input::-moz-placeholder {
    color: #A6A29F;
}

.newsletter .inputs-wrapper .email-input:-ms-input-placeholder {
    color: #A6A29F;
}

.newsletter .inputs-wrapper .email-input::-ms-input-placeholder {
    color: #A6A29F;
}

.newsletter .inputs-wrapper .email-input::placeholder {
    color: #A6A29F;
}

.newsletter .inputs-wrapper .email-input.user-invalid {
    border: 2px solid #EA1E2D;
}

.newsletter .inputs-wrapper .newsletter-alert-msg {
    position: absolute;
    right: 0;
    bottom: -20px;
    text-align: right;
    color: #fff;
}

.newsletter .inputs-wrapper .submit-input {
    position: absolute;
    height: 36px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    right: 3px;
    top: 3px;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    transform: none;
    cursor: pointer;
    z-index: 5;
}

.newsletter .info {
    color: #A6A29F;
    text-align: center;
    line-height: 1.6;
    margin-top: 40px;
}

.newsletter .form-error {
    position: absolute;
    max-width: 50%;
}

.newsletter .form-error .error-message {
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 5px;
    text-align: left;
}

.newsletter .form-error svg {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

.newsletter .newsletter-success .success-message {
    text-align: center;
}

/* Fim dos Estilos Básico da Newsletter */