.grid-wrapper {
    padding: 50px 0;
}

.grid-wrapper .post-grid-info {
    display: none;
}

.grid-wrapper .post-grid .post-card {
    margin-bottom: 20px;
}

/* .post-grid .loader-wrapper {
	text-align: center;
}

.post-grid .loader-wrapper .loader {
	display: inline-block;
	border: 2px solid #f3f3f3;
	border-top: 2px solid #3498db;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	animation: loader 2s linear infinite;
} */

.grid-wrapper .show-more .show-more-button {
	display: block;
	margin: 0 auto 20px;
	max-width: 190px;
	text-transform: uppercase;
	color: #fff;
	background-color: #1a3b71;
	font-size: 18px;
	padding: 7px 20px;
	border: 3px solid #1a3b71;
	transition: 150ms linear;
	cursor: pointer;
}

.grid-wrapper .show-more .show-more-button:hover {
	background-color: #fff;
	color: #224d93;
}

@media(min-width: 768px) {
	.grid-wrapper .post-grid,
	.grid-wrapper .post-grid.dynamic div[role="list"] {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

	.grid-wrapper .post-grid .post-card,
	.grid-wrapper .post-grid.dynamic div[role="list"] .post-card {
        width: calc(50% - 10px);
        max-width: 100%;
    }
}

@media(min-width: 1366px) {
	.grid-wrapper .post-grid .post-card,
	.grid-wrapper .post-grid.dynamic div[role="list"] .post-card {
        width: calc((100% - 60px) / 3);
        margin: 0 10px 20px;
    }
}

/* @keyframes loader {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
} */