.post-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0px 3px 6px #00000029;
    transition: 150ms linear;
    max-width: 400px;
    margin: 0 auto;
}

.post-card:hover {
    box-shadow: 0px 3px 15px #00000029;
}

.post-card .card-img {
    border-radius: 20px 20px 0 0;
    height: 186px;
}

.post-card amp-img img {
    -o-object-position: top;
       object-position: top;
}

.post-card .card-content {
    height: 100%;
    padding: 0 20px 16px;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
    text-decoration: none;
    background-color: #ffffff;
}

.post-card .card-content .category-btn {
    display: inline-block;
    padding: calc((48px - 1rem) / 2) 10px;
    margin-left: -10px;
    line-height: 1;
    font-size: 1.125rem;
    color: #000000;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.post-card .card-content .category-btn:hover {
    color: #1d4f91;
}

.post-card .card-content .card-info-wrapper {
    display: block;
    min-height: 48px;
}

.post-card .card-content .title {
    display: block;
    display: -webkit-box;
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.17;
    color: #1d4f91;
    max-height: 5.265rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-card .card-content .excerpt {
    display: block;
    display: -webkit-box;
    color: #000000;
    margin-bottom: 12px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    max-height: 4.8rem;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-card .card-content .date {
    text-transform: capitalize;
    font-weight: 300;
    color: #515151;
}

@media(min-width: 1366px) {
    .post-card .card-content {
        padding: 5px 20px 28px;
    }

    .post-card .card-content .title {
        margin-bottom: 12px;
    }
}