.hire-contact {
    background-color: #eaedf2;
	padding-top: 50px;
    padding-bottom: 50px;
}

.hire-contact .section-title {
    font-size: 30px;
    color: #1d4f91;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 300;
}

.hire-contact .content-wrapper .card {
    text-align: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    transition: 150ms linear;
    max-width: 500px;
    margin: 0 auto 20px;
}

.hire-contact .content-wrapper .card:hover {
    transform: scale(1.03);
}

.hire-contact .content-wrapper .card .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 150px;
    background-color: #1d4f91;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.hire-contact .content-wrapper .card .icon svg {
    width: 60px;
    height: 60px;
    fill: #fff;
}

.hire-contact .content-wrapper .card .title {
    color: #444;
}

.hire-contact .contact {
    margin-top: 50px;
}

.hire-contact .contact .title {
    font-size: 20px;
    color: #1d4f91;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 500;
}

.hire-contact .contact {
    max-width: 600px;
    background-color: #fff;
    border-radius: 20px;
    margin: 40px auto 0;
    padding: 40px 20px;
    box-sizing: border-box;
}

.hire-contact .contact .info {
    margin-bottom: 20px;
    color: #444;
}

.hire-contact .contact .info a {
    color: #444;
}

.hire-contact .contact .info strong {
    color: #000;
}

@media (min-width: 768px) {
    .hire-contact .section-title {
        font-size: 35px;
    }
}

@media(min-width:1366px) {
    .hire-contact .section-title {
        font-size: 37px;
        margin-bottom: 30px;
    }

    .hire-contact .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        max-width: 1100px;
        box-sizing: border-box;
    }

    .hire-contact .content-wrapper .card {
        width: calc((100% - 40px) / 3);
        margin: 0;
        box-sizing: border-box;
    }

    .hire-contact .content-wrapper .card:nth-child(2n) {
        margin: 0 20px;
    }
}