.blog-hero {
    position: relative;
}

.blog-hero .blog-hero-wrapper {
	position: relative;
	height: 400px;
}

.blog-hero .blog-hero-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, #0000003d, #000000d6);
    z-index: 10;
}

.blog-hero .blog-hero-wrapper amp-img img {
    object-position: top;
}

.blog-hero .content-wrapper {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blog-hero .content-wrapper p {
    font-size: 30px;
    text-align: center;
    color: #fff;
    font-weight: 300;
    letter-spacing: 2px;
}

.blog-hero .content-wrapper p strong {
    display: block;
    font-weight: 700;
}

@media (min-width: 768px) {
	.blog-hero .blog-hero-wrapper {
		height: 500px;
    }

    .blog-hero .content-wrapper {
    }

    .blog-hero .content-wrapper p {
        font-size: 40px;
    }
}

@media (min-width: 1366px) {
    .blog-hero .content-wrapper p {
        font-size: 45px;
    }
}
