.titles-titles {
	padding-top: 50px;
	padding-bottom: 50px;
    text-align: center;
    background-color: #eaedf2;
}

.titles-titles .section-title {
	text-align: center;
	text-transform: uppercase;
	color: #1d4f91;
	margin-bottom: 30px;
	font-size: 25px;
	font-weight: 300;
}

.titles-titles .content-wrapper .cat-title {
    color: #1d4f91;
    margin-bottom: 15px;
}

.titles-titles .content-wrapper:not(:first-child) .cat-title {
    margin-top: 20px;
}

.titles-titles .content-wrapper ul {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
}

.titles-titles .content-wrapper ul li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    line-height: 1.15;
    color: #444;
}

.titles-titles .content-wrapper ul li::before {
    position: absolute;
    left: 12.5px;
    top: calc(0.575em - 2.5px);
    content: "";
    height: 5px;
    width: 5px;
    background-color: #1d4f91;
    border-radius: 50%;
}

@media(min-width: 768px) {
    .titles-titles .section-title {
        font-size: 30px;
    }

    .titles-titles .content-wrapper {
        max-width: 800px;
        margin: 0 auto;
    }

    .titles-titles .content-wrapper .cat-title {
        margin-bottom: 20px;
    }

    .titles-titles .content-wrapper:not(:first-child) .cat-title {
        margin-top: 25px;
    }
}

@media(min-width: 1366px) {
    .titles-titles .section-title {
        font-size: 35px;
    }

    .titles-titles .content-wrapper .cat-title {
        margin-bottom: 20px;
    }

    .titles-titles .content-wrapper:not(:first-child) .cat-title {
        margin-top: 30px;
    }
}