.gallery ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.gallery ul li {
    position: relative;
    height: 200px;
    width: 50%;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

.gallery ul li amp-img {
    transition: 150ms linear;
}

.gallery ul li amp-img:hover {
    transform: scale(1.03);
}

.gallery ul li amp-img img {
    -o-object-position: top;
       object-position: top;
}

@media(min-width: 768px) {
    .gallery ul li {
        width: calc(100% / 3);
        height: 350px;
    }
}

@media(min-width: 1366px) {
    .gallery ul li {
        width: calc(100% / 4);
        height: 350px;
    }
}