html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}


/* Containers
   ========================================================================== */

.container {
    margin-left: 24px;
    margin-right: 24px;
}

.padding-container {
    padding-left: 24px;
    padding-right: 24px;
}

.fixed-container {
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
}

.fixed-padding-container {
    max-width: 360px;
    padding-left: calc((100% - 360px) / 2);
    padding-right: calc((100% - 360px) / 2);
}

@media(max-width: 425px) {
    .negative-container {
        margin-left: -24px;
        margin-right: -24px;
    }
}

@media(min-width: 768px) {
    .container {
        margin-left: 48px;
        margin-right: 48px;
    }

    .padding-container {
        padding-left: 48px;
        padding-right: 48px;
    }

    .fixed-container {
        max-width: 100%;
    }

    .fixed-padding-container {
        max-width: 100%;
        padding-left: 48px;
        padding-right: 48px;
    }
}

@media(min-width: 1366px) {
    .container {
        margin-left: 96px;
        margin-right: 96px;
    }

    .padding-container {
        padding-left: 96px;
        padding-right: 96px;
    }
}

@media(min-width: 1440px) {
    .container {
        margin-left: calc((100% - 1174px) / 2);
        margin-right: calc((100% - 1174px) / 2);
    }

    .padding-container {
        padding-left: calc((100% - 1174px) / 2);
        padding-right: calc((100% - 1174px) / 2);
    }
}


/* Utils
   ========================================================================== */

.desktop {
    display: none;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4,p {
    margin: 0;
}

amp-img > img {
    object-fit: cover;
}

amp-carousel > div:first-child {
    outline: none;
}

.carousel-button,
amp-carousel .amp-carousel-button {
    z-index: 2;
    background: transparent;
    cursor: pointer;
    height: 48px;
    width: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 50%;
}

.carousel-button.next {
    margin-right: 15px;
}

.carousel-button.prev {
    margin-left: 15px;
}

.carousel-button:after,
amp-carousel .amp-carousel-button:after {
    content: "";
    display: inline-block;
    padding: 6px;
    border: solid #525a60;
    border-width: 0 2px 2px 0;
}

.carousel-button.next:after,
amp-carousel .amp-carousel-button-next:after {
    transform: translate(-25%, 0) rotate(-45deg);
}

.carousel-button.prev:after,
amp-carousel .amp-carousel-button-prev:after {
    transform: translate(25%, 0) rotate(135deg);
}

.carousel-dots div[class$=inline-gallery-pagination-dot] {
    position: relative;
    cursor: pointer;
    min-width: 18px;
    width: 18px;
    height: 18px;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #0D487C;
    background-clip: padding-box;
}

.carousel-dots div[class$=inline-gallery-pagination-dots] {
    border-radius: 50%;
}

.carousel-dots div[class$=inline-gallery-pagination-dot-progress] {
    background-color: #0D487C;
    width: 10px;
    min-width: 10px;
    height: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.carousel-dots div[class$=inline-gallery-pagination-dot-container] {
    margin: 0 6px;
}

.tracking-pixel {
    position: absolute;
}

.top-header-distance {
    padding-top: 50px;
}

@media(min-width: 768px) {

    .carousel-button:after,
    amp-carousel .amp-carousel-button:after {
        padding: 10px;
        border-width: 0 2.5px 2.5px 0;
    }

    .top-header-distance {
        padding-top: 70px;
    }
}

@media(min-width: 1366px) {
    .desktop {
        display: block;
    }

    .mobile {
        display: none;
    }
    
    .top-header-distance {
        padding-top: 80px;
    }
}


/* Typography
   ========================================================================== */

html {
    font-size: 12px;
    font-family: 'Lato', sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1366px) {
    html {
        font-size: 16px;
    }
}

@font-face {
    font-family: 'Lato';
    src:url('../../fonts/Lato-Regular.woff2') format('woff2'),
    url('../../fonts/Lato-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src:url('../../fonts/Lato-Light.woff2') format('woff2'),
    url('../../fonts/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src:url('../../fonts/Lato-Bold.woff2') format('woff2'),
    url('../../fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
}
