.header {
    position: relative;
    z-index: 30;
}

.header .header-wrapper {
    position: fixed;
    width: calc(100% - 48px);
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

.header .logo {
    cursor: pointer;
}

.header .logo img, 
.header .logo h1 {
    width: 105px;
    height: 38px;
}

.header .wrapper-rigth .toggle-menu {
    height: 48px;
    width: 48px;
    box-sizing: border-box;
    cursor: pointer;
}

.header .wrapper-rigth .toggle-menu .burger-icon {
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    user-select: none;
}

.header .wrapper-rigth .toggle-menu .burger-icon, 
.header .wrapper-rigth .toggle-menu .burger-icon:before, 
.header .wrapper-rigth .toggle-menu .burger-icon:after {
    display: block;
    width: 23px;
    height: 3px;
    outline: 1px solid transparent;
    background-color: #525a60;
    transition-property: background-color, transform;
    transition-duration: .3s;
}

.header .wrapper-rigth .toggle-menu .burger-icon:before, 
.header .wrapper-rigth .toggle-menu .burger-icon:after {
    position: absolute;
    content: "";
}

.header .wrapper-rigth .toggle-menu .burger-icon:after {
    top: 7px;
}

.header .wrapper-rigth .toggle-menu .burger-icon:before {
    top: -7px;
}

.header .wrapper-rigth .toggle-menu.active .burger-icon {
    background-color: transparent;
    outline: none;
}

.header .wrapper-rigth .toggle-menu.active .burger-icon:after {
    transform: translateY(-7px) rotate(-45deg);
}

.header .wrapper-rigth .toggle-menu.active .burger-icon:before {
    transform: translateY(7px) rotate(45deg);
}

.header .wrapper-rigth .cta-btn,
.header .wrapper-rigth .open-search {
    display: none;
}

.header .menu-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .menu-list ul .menu-item {
    box-sizing: border-box;
    padding: 18px 0;
    width: 100%;
    font-size: 16px;
    border-bottom: 1px solid #e1e1e1;
    color: #525a60;
    transition: 150ms linear;
    text-transform: uppercase;
}

.header .menu-list ul .menu-item a {
    box-sizing: border-box;
    padding: 18px 0;
    font-size: 16px;
    color: #525a60;
    cursor: pointer;
    transition: 150ms linear;
}

.header .menu-list ul .menu-item:last-child {
    border-bottom: none;
}

.header .menu-list ul .menu-item:hover,
.header .menu-list ul .menu-item a:hover {
    color: #000000;
}

.header .menu-list .sub-menu {
    display: none;
}

.header .menu-list ul .open-sub-menu:after,
.header .menu-list ul .menu-item.close .open-sub-menu:after {
    content: "";
    display: inline-block;
    border: solid #E4002B;
    border-width: 0 2px 2px 0;
    padding: 3.5px;
    margin: 2px 5px 6px;
    transform: rotate(45deg);
    vertical-align: middle;
    transition: transform 100ms linear;
}

.header .menu-list ul .menu-item.open .open-sub-menu:after {
    transform: rotate(225deg);
    margin-bottom: -2px;
}

.header .menu-list ul .menu-item.open .sub-menu {
    display: block;
    padding: 20px 17px 0;
}

.header .menu-list ul .menu-item.open .sub-menu a,
.header .menu-list ul .menu-item.open .sub-menu .menu-item {
    border-bottom: none;
    padding: 6px 0;  
}

.header .sidebar-header {
    position: fixed;
    top: 50px;
    right: 0;
    width: 100%;
    height: calc(100% - 50px);
    padding: 20px 0;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    overflow: inherit;
    background-color: #ffffff;
}

.header .sidebar-header.opened {
    transform: translateX(0);
}

.header .sidebar-header .cta-btn {
    margin-top: 15px; 
    margin-bottom: 30px;
    display: block;
    color: #525a60;
    border-radius: 20px;
    border: 2px solid #525a60;
    padding: 10px 18px;
    font-size: 16px;
    font-weight: 600;
    transition: 150ms linear;
    text-align: center;
    text-transform: uppercase;
}

.header .search-desktop {
    display: none;
}

@media(min-width: 768px) {
    .header .header-wrapper {
        height: 70px;
        width: calc(100% - 96px);
    }

    .header .logo img, 
    .header .logo h1 {
        width: 132px;
        height: 48px;
    }

    .header .wrapper-rigth {
        display: flex;
        align-items: center;
    }

    .header .wrapper-rigth .cta-btn {
        display: block;
        margin-right: 24px;
        font-size: 16px;
        color: #525a60;
        border-radius: 20px;
        border: 2px solid #525a60;
        padding: 5px 18px;
        text-transform: uppercase;
        transition: 150ms linear;
    }

    .header .wrapper-rigth .cta-btn:hover {
        color: #fff;
        border: 2px solid #525a60;
        background-color: #525a60;
        padding: 5px 18px;
    }

    .header .sidebar-header {
        max-width: 384px;
        padding: 32px 0;
        top: 70px;
        height: calc(100% - 70px);
    }

    .header .sidebar-header .cta-btn {
        display: none;
    }

    .header .sidebar-header.opened .menu-list {
        margin: 0 48px;
    }

    .header .overlay.show {
        width: 100%;
        height: calc(100% - 70px);
        position: fixed;
        top: 70px;
        right: 384px;
        background-color: #0000005E;
        transition: 300ms linear;
    }
}

@media(min-width: 1366px) {
    .header .header-wrapper {
        width: calc(100% - 192px);
        height: 80px;
    }

    .header .wrapper-rigth .toggle-menu.search-desktop {
        display: block;
    }

    .header .wrapper-rigth .toggle-menu {
        display: none;
    }

    .header .wrapper-rigth .cta-btn {
        margin-right: 20px;
        margin-left: 20px;
        white-space: nowrap;
        font-size: 16px;
    }

    .header .wrapper-rigth .open-search {
        display: block;
        cursor: pointer;
        width: 48px;
        height: 48px;
    }

    .header .wrapper-rigth .open-search div {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header .wrapper-rigth .open-search svg {
        width: 23px;
        height: 23px;
    }

    .header .menu-list ul {
        display: flex;
    }

    .header .menu-list ul .menu-item {
        margin-left: 18px;
        cursor: pointer;
    }

    .header .menu-list ul .menu-item:first-child {
        margin-left: 0;
    }

    .header .menu-list ul .menu-item,
    .header .menu-list ul .menu-item a {
        width: initial;
        border-bottom: none;
        padding: 25px 0;
        font-size: 16px;
    }

    .header .menu-list ul .menu-item .open-sub-menu {
        pointer-events: none;
    }

    .header .menu-list ul .open-sub-menu:after, 
    .header .menu-list ul .menu-item.close .open-sub-menu:after {
        border-color: #3F3E3E;
    }

    .header .menu-list ul .menu-item.menu-item-has-children:hover .open-sub-menu:after {
        transform: rotate(225deg);
        margin-bottom: -2px;
    }

    .header .menu-list ul .menu-item.menu-item-has-children:hover .sub-menu {
        display: block;
        position: absolute;
        top: 70px;
        box-shadow: 3px 5px 6px rgba(0,0,0,.1);
    }

    .header .menu-list .sub-menu {
        background-color: #ffffff;
        border-radius: 0 0 5px 5px;
    }

    .header .menu-list .sub-menu .menu-item {
        margin-left: 0;
        padding: 0;
    }

    .header .menu-list .sub-menu .menu-item a {
        display: block;
        padding: 13px 15px;
    }

    .header .menu-list .sub-menu .menu-item:last-child {
        border-radius: 0 0 5px 5px;
        border-width: 0 1px 1px 1px;
    }

    .header .menu-list .sub-menu .menu-item:hover {
        background-color: #9a9a9a12;
    }

    .header .sidebar-wrapper {
        display: none;
    }

    .header .search-desktop {
        display: block;
    }
}

@media(min-width: 1440px) {
    .header .header-wrapper {
        width: 1174px;
    }
}