.post-comments {
	margin-top: 50px;
	margin-bottom: 50px;
}

.post-comments .section-title {
	font-weight: 600;
}

.post-comments .anchor {
	position: relative;
	top: -80px;
}

.post-comments .comment-container {
	position: relative;
	box-sizing: border-box;
	max-width: 615px;
	margin: 0 auto;
	padding: 30px 37px;
	border: 1px solid #0c56b9;
	border-radius: 6px;
	text-align: center;
}

.post-comments .comment-container .comment-title {
	margin-bottom: 20px;
}

.post-comments .comment-container .comment-form input,
.post-comments .comment-container .comment-form textarea {
    box-sizing: border-box;
    width: 100%;
    padding: 8px 16px;
    margin-bottom: 15px;
    border: 1px solid #0c56b9;
    border-radius: 6px;
    font-size: 16px;
    color: #000000;
}

.post-comments .comment-container .comment-form textarea {
	height: 115px;
	margin-bottom: 21px;
	resize: none;
}

.post-comments .comment-container .comment-form input::-moz-placeholder, .post-comments .comment-container .comment-form textarea::-moz-placeholder {
    color: #000000;
}

.post-comments .comment-container .comment-form input:-ms-input-placeholder, .post-comments .comment-container .comment-form textarea:-ms-input-placeholder {
    color: #000000;
}

.post-comments .comment-container .comment-form input::-ms-input-placeholder, .post-comments .comment-container .comment-form textarea::-ms-input-placeholder {
    color: #000000;
}

.post-comments .comment-container .comment-form input::placeholder,
.post-comments .comment-container .comment-form textarea::placeholder {
    color: #000000;
}

.post-comments .comment-container .comment-form input:focus,
.post-comments .comment-container .comment-form textarea:focus {
    border: 1px solid #707070;
}

.post-comments .comment-container .comment-form input:focus::-moz-placeholder, .post-comments .comment-container .comment-form textarea:focus::-moz-placeholder {
    color: #0000004F;
}

.post-comments .comment-container .comment-form input:focus:-ms-input-placeholder, .post-comments .comment-container .comment-form textarea:focus:-ms-input-placeholder {
    color: #0000004F;
}

.post-comments .comment-container .comment-form input:focus::-ms-input-placeholder, .post-comments .comment-container .comment-form textarea:focus::-ms-input-placeholder {
    color: #0000004F;
}

.post-comments .comment-container .comment-form input:focus::placeholder,
.post-comments .comment-container .comment-form textarea:focus::placeholder {
    color: #0000004F;
}

.post-comments .comment-container .comment-form input.submit {
	margin-bottom: 0;
	color: #0c56b9;
}

.post-comments .comment-container .comment-form input.submit:hover {
    border: 1px solid #427ece;
}

.post-comments .comment-container .comment-form .input-wrapper {
	position: relative;
}

.post-comments .comment-container .comment-form .input-wrapper .label-input {
	position: absolute;
	left: 13px;
	top: -7px;
	font-size: 12px;
	background-color: #fff;
	color: #791593;
	opacity: 0;
	transition: opacity 100ms linear;
}

.post-comments .comment-container .comment-form .input-wrapper input:focus ~ .label-input,
.post-comments .comment-container .comment-form .input-wrapper input:valid ~ .label-input,
.post-comments .comment-container .comment-form .input-wrapper input.user-valid ~ .label-input,
.post-comments .comment-container .comment-form .input-wrapper input.user-invalid ~ .label-input,
.post-comments .comment-container .comment-form .input-wrapper textarea:focus ~ .label-input,
.post-comments .comment-container .comment-form .input-wrapper textarea.user-valid ~ .label-input {
	opacity: 1;
}

.post-comments .comment-container #cancel-comment-reply-link {
	display: inline-block;
	color: #575756;
	margin-bottom: 10px;
}

.post-comments .comment-container .amp-wp-default-form-message > p {
    position: absolute;
    box-sizing: border-box;
	margin: 0;
    padding: 0 8px;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    text-align: center;
    font-size: 1rem;
    line-height: 1.4;
    border: none;
    background-color: transparent;
}

.post-comments .comment-container .amp-wp-default-form-message > p strong {
	font-weight: 700;
}

.post-comments .comment-list-container {
	margin-bottom: 32px;
}

.post-comments .comment-list-container .section-title {
	text-align: center;
}

.post-comments .comment-list {
	padding: 0;
	margin: 0;
	font-size: 1rem;
	line-height: 1.6;
	color: #575756;
}

.post-comments .comment-list .post-comment {
	margin-bottom: 18px;
	list-style: none;
}

.post-comments .comment-list .post-comment .comment-author {
	text-transform: capitalize;
	margin-bottom: 4px;
	font-size: 1.25rem;
	color: #480D57;
}

.post-comments .comment-list .post-comment .comment-date {
	text-transform: capitalize;
	margin-bottom: 7px;
	font-size: 1.125rem;
	line-height: 1;
	color: #00635C;
}

.post-comments .comment-list .post-comment .comment-content a {
	color: #00635C;
}

.post-comments .comment-list .post-comment .comment-reply {
	display: inline-block;
	margin: 11px -9px -3px;
	padding: 9px 9px 3px;
	box-sizing: border-box;
	border: 1px solid transparent;
	transition: border 250ms linear;
}

.post-comments .comment-list .children .post-comment .comment-reply {
	display: none;
}

.post-comments .comment-list .post-comment .comment-reply:hover {
	border: 1px solid #EEEEEE;
	border-radius: 6px;
}

.post-comments .comment-list .post-comment .comment-reply svg {
	width: 17px;
	height: 14px;
	margin-right: 4px;
}

.post-comments .comment-list .post-comment .comment-reply a {
	color: #575756;
	vertical-align: text-bottom;
}

.post-comments .comment-list .children {
	border-left: 2px solid #ababab;
	padding-left: 31px;
}

.post-comments .comment-list .comments-show-more {
	text-align: center;
}

@media(min-width: 768px) {
	.post-comments .comment-container {
		padding: 33px 65px 35px;
	}

	.post-comments .comment-container .section-title {
	    margin-bottom: 37px;
	}

	.post-comments .comment-container .comment-form .form-inputs {
		display: flex;
		justify-content: space-between;
	}

	.post-comments .comment-container .comment-form .form-inputs input {
		width: 229px;
	}

	.post-comments .comment-container .comment-form .form-inputs input:last-child {
		margin-right: 0;
	}

	.post-comments .comment-container .comment-form textarea {
		margin-bottom: 15px;
	}

	.post-comments .comment-container .amp-wp-default-form-message > p {
	    bottom: 7px;
	}

	.post-comments .comment-list .post-comment .comment-date {
		margin-bottom: 3px;
	}

	.post-comments .comment-list .post-comment .comment-reply {
		margin-top: 13px;
	}

	.post-comments .comment-list .post-comment .comment-reply svg {
		width: 26px;
		height: 22px;
		margin-right: 10px;
	}

	.post-comments .comment-list .post-comment .comment-reply a {
	    vertical-align: super;
	}
}

@media(min-width: 1366px) {
	.post-comments .comment-container {
		padding: 23px 65px 35px;
	}

	.post-comments .comment-container .section-title {
	    margin-bottom: 47px;
	}

	.post-comments .comment-list-container {
	    margin-bottom: 55px;
	}

	.post-comments .comment-list .post-comment {
		margin-bottom: 25px;
	}

	.post-comments .comment-list .post-comment .comment-author,
	.post-comments .comment-list .post-comment .comment-date {
		margin-bottom: 8px;
	}

	.post-comments .comment-list .post-comment .comment-reply {
		margin-top: 15px;
	}
}
