.content {
	position: relative;
	color: #000000;
	font-weight: 300;
}

.content p {
	margin-bottom: 20px;
	font-size: 1.125rem;
	line-height: 1.92;
}

.content strong {
	font-weight: 700;
}

.content a {
	color: #00635C;
	font-weight: 400;
}

.content a:hover {
	text-decoration: underline;
}

.content a:visited {
	color: #480D57;
}

.content h2, 
.content h3,
.content h4 {
	font-weight: 600;
	margin: 30px 0;
	color: #791593;
}

.content h2 {
	font-size: 2rem;
}

.content h3 {
	font-size: 1.5rem;
}

.content h4 {
	font-size: 1.25rem;
}

.content .wp-block-embed-youtube,
.content .wp-block-image {
	margin: 30px 0;
}

.content .wp-block-image amp-img {
	min-width: 100%;
}

.content .wp-block-image amp-img img {
	-o-object-fit: cover;
	   object-fit: cover;
}

.content .wp-block-embed-youtube figcaption,
.content .wp-block-image figcaption {
	font-size: 12px;
	line-height: 1.2;
	text-align: center;
}

.content .wp-block-quote {
    margin: 30px 0;
    text-align: center;
    color: #515151;
}

.content .wp-block-quote p {
    margin-bottom: 0;
    font-size: 1.5rem;
    font-style: italic;
}

.content .wp-block-quote cite {
    display: block;
    margin-top: 5px;
    font-size: 1.125rem;
    font-style: normal;
}

.content .wp-block-quote:before {
    content: "";
    display: block;
    background-image: url(../../assets/quote.svg);
    height: 73px;
    width: 57px;
    margin: 0 auto;
    background-size: contain;
    background-repeat: no-repeat;
}

.content .wp-block-quote:after {
    content: "";
    display: block;
    height: 1px;
    width: 284px;
    margin: 20px auto 0;
    background-color: #19D3C5;
}

.content amp-carousel {
	margin: 30px 0;
}

.content amp-carousel span {
	background-color: #791593;
    font-weight: normal;
}

.content ul,
.content ol {
	padding: 0;
    margin: 0 0 20px;
	list-style: none;
	font-size: 1.125rem;
	line-height: 1.6;
}

.content ul li,
.content ol li {
    position: relative;
	margin-bottom: 20px;
	padding-left: 20px;
}

.content ul li:before {
	content: "";
    position: absolute;
    display: inline-block;
    top: calc(1rem - 3.5px);
    left: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #00635C;
}

.content ol {
	counter-reset: li;
}

.content ol li {
	counter-increment: li;
}

.content ol li:before {
	content: counter(li) ".";
	position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    font-weight: 700;
	color: #00635C;
}

.content .wp-block-button {
	margin: 30px 0;
}

.content .wp-block-button a {
	display: inline-block;
    padding: 9px 18px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0px 1px 3px transparent;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    transform: perspective(1px) translateZ(0);
    transition: 250ms ease-out;
}

.content .wp-block-button a:not(.has-text-color),
.content .wp-block-button a:not(.has-background) {
    background-color: #791593;
    border: 1px solid #791593;
    color: #FFFFFF;
}

.content .wp-block-button a:not(.has-text-color):hover,
.content .wp-block-button a:not(.has-background):hover {
    background: #791593 radial-gradient(circle, transparent 1%, #791593 1%) center/15000%;
    border: 1px solid #19D3C5;
}

.content .wp-block-button.is-style-outline a:not(.has-text-color),
.content .wp-block-button.is-style-outline a:not(.has-background) {
	background: transparent;
	border: 1px solid #000000A8;
	box-shadow: none;
	color: #000000;
	font-weight: normal;
}

.content .wp-block-button.is-style-outline a:not(.has-text-color):hover,
.content .wp-block-button.is-style-outline a:not(.has-background):hover {
    background: #dcf9f7 radial-gradient(circle, transparent 1%, #dcf9f7 1%) center/15000%;
}

.content .wp-block-button a:not(.has-text-color):active,
.content .wp-block-button a:not(.has-background):active {
    background-color: #19D3C5;
    background-size: 100%;
    transition: background 0s;
}

.content .wp-block-table {
	display: block;
	margin: 30px -24px;
    padding: 0 24px;
	overflow-x: auto;
	text-align: center;
    border-spacing: 0;
    box-sizing: border-box;
    font-size: 18px;
    color: #480D57;
}

.content .wp-block-table tbody {
	border-radius: 4px 4px 0 0;
	border-collapse: collapse;
	display: inline-block;
	overflow: hidden;
}

.content .wp-block-table tr:first-of-type {
	background-color: #83E6DF;
	border: 1px solid #83E6DF;
	font-weight: normal;
}

.content .wp-block-table tr:not(:first-of-type) {
	border: 1px solid #480D57;
}

.content .wp-block-table tr:first-of-type td {
	border-right: 1px solid #791593;
}

.content .wp-block-table tr:first-of-type td:last-child {
	border-right: 1px solid #83E6DF;
}

.content .wp-block-table tr > td {
	padding: 20px;
	box-sizing: border-box;
	min-width: 212px;
}

.content .wp-block-table tr:not(:first-child) td {
	border: 1px solid #791593;
}

@media(min-width: 768px) {
	.content p {
		line-height: 1.6;
	}

	.content .wp-block-quote,
	.content .wp-block-table,
	.content .wp-block-embed-youtube,
	.content .wp-block-image,
	.content amp-carousel {
		margin: 50px 0;
	}

	.content h2, 
	.content h3,
	.content h4 {
		margin: 40px 0;
	}

	.content .wp-block-table {
		padding: 0;
	}
}
