.progress-bar {
    position: fixed;
    top: 50px;
    width: 100%;
    height: 4px;
    transform: translateX(-100%);
    z-index: 25;
    background-color: #0c56b9;
}

.progress-bar-anchor {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    z-index: -1;
    height: calc(100% - 100vh);
}

@media(min-width: 1366px) {
    .progress-bar {
        top: 80px;
    }
}
