.related-posts .post-card {
	margin-bottom: 20px;
}

.related-posts .section-description {
	margin-bottom: 30px;
}

@media(min-width: 768px) {
	.related-posts .posts-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.related-posts .post-card {
		width: calc((100% - 40px) / 3);
		margin-right: 20px;
	}

	.related-posts .post-card:nth-child(3n) {
		margin-right: 0;
	}
}