.single-share {
    text-align: center;
    margin-bottom: 40px;
}

.single-share amp-social-share {
    background: none;
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center;
    transition: transform 250ms;
}

.single-share amp-social-share:hover {
    transform: scale(1.1);
}

.single-share amp-social-share[type='twitter'] {
    background-image: url(../../assets/twitter.svg);
}

.single-share amp-social-share[type='facebook'] {
    background-image: url(../../assets/facebook_share.svg);
}

.single-share amp-social-share[type='whatsapp'] {
    background-image: url(../../assets/whatsapp.svg);
}

.single-share amp-social-share[type='linkedin'] {
    background-image: url(../../assets/linkedin.svg);
}

@media(min-width: 768px) {
    .single-share {
        min-width: -webkit-max-content;
        min-width: -moz-max-content;
        min-width: max-content;
        margin-bottom: 16px;
    }
}

@media(min-width: 1366px) {
    .single-share {
        position: absolute;
        top: 0;
        left: 100px;
        height: 100%;
        width: 48px;
    }
    
    .single-share .share-social-networks {
        position: -webkit-sticky;
        position: sticky;
        top: 100px;
    }

    .single-share amp-social-share {
        display: block;
    }
}
