.titles-featured {
	padding-top: 50px;
	padding-bottom: 50px;
    text-align: center;
}

.titles-featured .section-title {
	text-align: center;
	text-transform: uppercase;
	color: #1d4f91;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: 300;
}

.titles-featured .content-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.titles-featured .content-wrapper .img-wrapper {
	position: relative;
	width: 150px;
	max-width: 150px;
	height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #1d4f91;
}

.titles-featured .content-wrapper .content {
    color: #444;
}

.titles-featured .content-wrapper svg {
    margin-top: 10px;
    height: 25px;
    width: 25px;
}

.titles-featured .content-wrapper:last-child svg {
    display: none;
}

@media(min-width: 768px) {
    .titles-featured .section-title {
        font-size: 35px;
    }

    .titles-featured .content-wrapper {
        display: flex;
        align-items: center;
        max-width: 800px;
        margin: 0 auto 25px;
    }

    .titles-featured .content-wrapper .img-wrapper {
        min-width: 150px;
        margin: 0 20px 0 0;
    }

    .titles-featured .content-wrapper:nth-child(odd) .img-wrapper {
        order: 1;
        margin: 0 0 0 20px;
    }

    .titles-featured .content-wrapper .content {
        flex: 1;
        text-align: left;
    }

    .titles-featured .content-wrapper:nth-child(odd) .content {
        text-align: right;
    }

    .titles-featured .content-wrapper svg {
        display: none;
    }

}

@media(min-width: 1366px) {
    .titles-featured .section-title {
        font-size: 40px;
    }
}