.home-history {
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
    background-color: #e3e935;
}

.home-history .img-wrapper {
	position: relative;
	width: 100%;
	max-width: 300px;
	height: 150px;
    margin: 0 auto;
}

.home-history .img-wrapper amp-img img {
    -o-object-fit: contain;
       object-fit: contain;
}

.home-history .section-title {
	padding: 30px 40px;
	text-align: center;
	max-width: 600px;
	box-sizing: border-box;
	margin: 0 auto 30px;
}

.home-history .section-title p {
	font-size: 30px;
	text-transform: uppercase;
	color: #224d93;
	font-weight: 300;
}

.home-history .section-title strong {
	font-weight: 700;
	display: block;
}

.home-history .content-wrapper {
	max-width: 550px;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 40px;
}

.home-history .content-wrapper p {
	color: #3f3f3f;
	font-size: 16px;
    margin-bottom: 15px;
    line-height: 1.3;
}

.home-history .btn {
	display: block;
	margin: 0 auto 20px;
	max-width: 190px;
    text-transform: uppercase;
	background-color: transparent;
	color: #224d93;    
	font-size: 18px;
	padding: 7px 20px;
	border: 3px solid #1a3b71;
	transition: 150ms linear;
	cursor: pointer;
}

.home-history .btn:hover {
    color: #fff;
	background-color: #1a3b71;
}

@media(min-width: 768px) {
    .home-history .img-wrapper {
        max-width: 450px;
        height: 250px;
    }

    .home-history .section-title {
        padding: 0 40px;
    }
    
    .home-history .section-title p {
        font-size: 35px;
    }
}

@media (min-width: 1366px) {
	.home-history .img-wrapper {
		max-width: 500px;
		height: 250px;
	}

	.home-history .section-title {
		max-width: 800px;
	}

	.home-history .section-title p {
		font-size: 40px;
	}

	.home-history .content-wrapper {
		max-width: 750px;
	}

	.home-history .content-wrapper p {
		font-size: 18px;
    }
}