.recents-posts .post-card {
	margin-bottom: 20px;
}

@media(min-width: 768px) {
	.recents-posts .posts-wrapper {
		display: flex;
		flex-wrap: wrap;
	}

	.recents-posts .post-card {
		width: calc(50% - 10px);
		margin-right: 20px;
	}

	.recents-posts .post-card:nth-child(2n) {
		margin-right: 0;
	}
}

@media(min-width: 768px) {
	.recents-posts .post-card {
		width: calc((100% - 60px) / 4);
	}

	.recents-posts .post-card:nth-child(2n) {
		margin-right: 20px;
	}

	.recents-posts .post-card:nth-child(4n) {
		margin-right: 0;
	}
}