.home-sponsors {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1e1e1e;
}

.home-sponsors .section-title {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 30px;
}

.home-sponsors .sponsor-wrapper {
    position: relative;
    height: 115px;
    width: calc(50% - 7px);
    background-color: #717171;
    border-radius: 15px;
    display: inline-block;
    margin: 2.5px;
    transition: transform 150ms linear;
    padding: 5px;
    box-sizing: border-box;
}

.home-sponsors .sponsor-wrapper:hover {
    transform: scale(1.03);
}

.sponsor-wrapper .hero-img-wrapper {
    position: relative;
    display: block;
    height: 100%;
}

.home-sponsors .sponsor-wrapper amp-img img {
    -o-object-fit: contain;
       object-fit: contain;
}

@media(min-width: 768px) {
    .home-sponsors .section-title {
        font-size: 35px;
    }

    .home-sponsors .sponsor-wrapper {
        position: relative;
        height: 115px;
        width: calc((100% - 25px) / 4);
        background-color: #717171;
        border-radius: 15px;
        display: inline-block;
        margin: 2px;
        transition: transform 150ms linear;
    }
}

@media(min-width: 1366px) {
    .home-sponsors .section-title {
        font-size: 40px;
    }

    .home-sponsors .sponsor-wrapper {
        width: calc((100% - 30px) / 4);
    }
}