.hire-form {
	padding-top: 50px;
    padding-bottom: 50px;
}

.hire-form .section-title {
    font-size: 30px;
    color: #1d4f91;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
    font-weight: 300;
}

.hire-form div[role="form"] {
    margin-bottom: 50px;
}

.hire-form div[role="form"] fieldset {
    border: none;
}

.hire-form div[role="form"] fieldset label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #1d4f91;
    font-weight: 500;
}

.hire-form div[role="form"] fieldset input,
.hire-form div[role="form"] fieldset textarea {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 8px 10px;
    border: 1px solid #a4a4a4;
}

.hire-form div[role="form"] input[type="submit"] {
    display: block;
    margin: 0 auto;
    max-width: 190px;
    text-transform: uppercase;
    color: #fff;
    background-color: #1a3b71;
    font-size: 18px;
    padding: 7px 20px;
    border: 3px solid #1a3b71;
    transition: 150ms linear;
    cursor: pointer;
}

.hire-form div[role="form"] input[type="submit"]:hover {
    background-color: #fff;
    color: #1a3b71;
}

@media(min-width: 768px) {
    .hire-form .section-title {
        font-size: 35px;
    }

    .hire-form div[role="form"] {
        max-width: 800px;
        margin: 0 auto 50px;
    }
}

@media(min-width: 1366px) {
    .hire-form .section-title {
        font-size: 37px;
        margin-bottom: 30px;
    }

    .hire-form div[role="form"] {
        max-width: 1100px;
        margin-bottom: 0;
    }

    .hire-form div[role="form"] form {
        display: flex;
        flex-wrap: wrap;
    }

    .hire-form div[role="form"] form label {
        font-size: 16px;
    }

    .hire-form div[role="form"] form fieldset {
        width: calc(50% - 10px);
        min-width: calc(50% - 10px);
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
    }

    .hire-form div[role="form"] form fieldset .Assunto input {
        margin-bottom: 0;
    }

    .hire-form div[role="form"] form fieldset:first-of-type {
        margin-right: 10px;
    }

    .hire-form div[role="form"] form fieldset:last-of-type {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
    }

    .hire-form div[role="form"] fieldset .Mensagem {
        flex-grow: 1;
    }

    .hire-form div[role="form"] fieldset .Mensagem textarea {
        height: 100%;
    }
}